.container{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: auto auto;
    grid-gap: 5%;
}
.header{
    background-color: antiquewhite;
    padding: 20px;
    position: sticky;
    top: 0px;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
    position: sticky;
    top: 0;
}
.nav li {
    float: left;
}
.nav li a {
    margin-top: 0.8vw;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0.7vw 0.8vw;
    text-decoration: none;
    font-size: 1.3vw;
}
.nav li a:hover {
    background-color: darkgray;
}
.left1{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    grid-row: 1;
    grid-column: 1;
}
.right1{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    grid-row: 1;
    grid-column: 2;
}
.left2{
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
    grid-row: 2;
    grid-column: 1;
}
.right2{
    margin-top: -20px;
    padding-right: 20px;
    padding-left: 20px;
    grid-row: 2;
    grid-column: 2;
}
.quote{
    grid-row: 3;
    grid-column: 1 /span 2;
    height: 15vw;
    padding-left: 5%;
    font-size: 28px;
    margin-top: -3vw;
}
.footer{
    background-color: gray;
    margin-top: -2vw;
    padding: 5px;
}

