.header{
    background-color: gray;
    text-align: center;
    padding: 20px;
}
.container{
    background-color: wheat;
}


.flex{
    display:flex;
    justify-content: center;
}

.both{
    background-color: wheat;
}

.vertical{
    background-color: lightyellow;
}
.lines{
    margin: 20px 0;
    padding: 50px;
  }
  
.lines a {
    background: black;
    color: white;
    padding: 40px 30px;
    text-decoration: none;
  }