.menu-item{
    color:blue;
    font-weight:bold;
}
body{
    background-color: blue;
}
.container{
    background-color: lightblue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }